body {
	margin: 0;
	padding: 0;
	background-color: #331E25;
	border-radius: 5px;
}
/* The header Section */
.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.logo img{
	width:50px;
	height: 50px;
	border-radius: 15px;
}
.navigation-bar {
	margin-top: 0;
	display: flex;
}
.navigation-bar ul{
	display: flex;
	list-style-type: none;	
}
.navigation-bar ul li {
	padding: 30px;
}
.navigation-bar ul li a{
	text-decoration: none;
	color: #BC855D;
	font-size: 25px;
}
.navigation-bar ul li a:hover {
	color: chocolate;
}
.hamburger {
	display: none;
}

@media  only screen and (max-width: 1000px) {
	.hamburger {
		display: block;
		font-size: 30px;
	}
	.navigation-bar ul {
		display: none;
	}	
}


/* About Me Section */
.about_me-section {
	display: flex;
	padding: 20px;
	gap: 50px;
}
.name {
	display: none;
}
.about_me-image img {
	object-fit: conver;
	width: 550px;
	height: 600px;
	border-color: #BC855D;
	border-radius: 20px;
}
.about_me-description {
	margin-bottom: 100px;
}
.about_me-description h1{
	color: white;
	text-align: center;
	font-size: 40px;
}
.about_me-description p {
	font-size: 20px;
	color: #BC855D;
}

@media only screen and (max-width: 1000px) {
	.about_me-section {
		display: flex;
		flex-direction: column;
		padding: 20px;
		gap: 50px;
		align-items: center;
	}
	.about_me-section .name {
		color: white;
		font-size: 30px;
		display: block;
	}
	.about_me-section .name span {
		color: #BC855D;
	}
}

/* About Me Navigation Bar */
nav ul {
	padding: 0;
	display: flex;
	font-size: 30px;
	list-style-type: none;
	gap: 20px;
	justify-content: space-between;
}

nav ul li a {
	text-decoration-color:#BC855D;
	color: white;
	
}
nav ul li span a{
	color: white;
	text-decoration: none;
}

/* Skills Description */
h2 {
	color: white;
}
.skill {
	margin-bottom: 50px;
}
.skill ul{
	display: flex;
	flex-direction: column;
	gap: 15px;
}
.skill ul li {
	color: #BC855D;
}


/* The footer */
footer {
	display: flex;
	flex-direction: column;
	gap: 20px;
	justify-content: center;
	text-align: center;
	padding-top: 100px;
	font-size: 40px;
}
.footer-contact a {
	color: white;
}
.footer-contact a:hover {
	color: #BC855D;
}
.footer-socials {
	display: flex;
	justify-content: center;
	gap: 10px;
}

.social img{
	width: 30px;
	height: 30px;
}
