body {
	margin: 0;
	padding: 0;
	background-color: #331E25;
	border: 5px solid black;
	border-radius: 5px;
	padding: 10px;
}
/* The header Section */
.header {
	display: flex;
	justify-content: space-between;
}
.navigation-bar ul{
	display: flex;
	list-style-type: none;	
}
.navigation-bar ul li {
	padding: 30px;
}
.navigation-bar ul li a{
	text-decoration: none;
	color: #BC855D;
}
.navigation-bar ul li a:hover {
	color: chocolate;
}


/* Hero Section */
.hero-section {
	display: flex;
	justify-content: center;
}
.hero-section-description {
	width: 60%;
	color: white;
	padding-right: 150px;
	padding-bottom: 120px;
}
.hero-section-description h1 {
	text-align: center;
	font-size: 40px;
}
.hero-section-description span {
	color: #BC855D;
}
.hero-section-description p {
	text-align:justify;
	padding-bottom: 10px;
}
.hero-section-button {
	text-align: center;
}
.hero-section-button a {
	text-decoration: none;
	color: white;
	background-color: #BC855D;
	padding: 10px;
	border-radius: 10px;
}
.hero-section-button a:hover {
	color: chocolate;
}
